p {
  font-size: 17.5px;
  line-height: 1.8rem;
}
h2 {
  strong {
    font-size: 22px;
  }
}
p {
  img {
    padding: 1rem 0 2rem 0;
  }
}
.ql-editor h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
